# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
backend/.venv/

# Node modules
frontend/node_modules/

# Environment variables
backend/.env

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db